
@{
    ViewData["Title"] = "XML Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>XML Download</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item">License</li>
                    <li class="breadcrumb-item active">XML Download</li>
                </ol>
            </div>

        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">
                            XML Download
                        </h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="RequestNumber">Request Number</label>
                                    <input type="text" name="request_number" class="form-control" placeholder="Enter Request Number" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="User">User</label>
                                    <input type="text" name="user" class="form-control" placeholder="Name / Email / User Name" required>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="FormDate">From Date </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        @*<input type="text" name="from_date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>*@
                                        <input type="text" name="from_date" class="form-control" id="datep" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ToDate">To Date </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        @*<input type="text" name="to_date" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>*@
                                        <input type="text" name="to_date" class="form-control" id="datep1" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-info" onclick="xmlDownloadSubmit()"> <i class="fas fa-search"></i> Search </button>
                        <button type="button" onclick="clear_fun();" class="btn btn-info"><i class="fas fa-redo-alt"></i> Reset</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">View Report</h3>
                    </div>
                    <div class="card-body" id="xmlDownload">
                        @*<table id="example1" class="table table-striped table-bordered dt-responsive nowrap">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody></tbody>
                            </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section BodyScript{

    <script type="text/javascript">

        //Date picker
        $('#datep').datepicker({
            dateFormat: 'dd/mm/yy'
        });
        $('#datep1').datepicker({
            dateFormat: 'dd/mm/yy'
        });

        function xmlDownloadSubmit() {
            var user = $('[name="user"]').val();
            var request_number = $('[name="request_number"]').val();
            var from_date = $('[name="from_date"]').val();
            var to_date = $('[name="to_date"]').val();

            var val = '{';

            if (user == '' && request_number == '' && from_date == '' && to_date == '') {
                errorAlert("XML Download", "Select Atleast 1 Options", null);
            }
            else if ((from_date == "" && to_date != "") || (from_date != "" && to_date == "")) {
                errorAlert("XML Download", "Select Date Range Properly", null);
            }
            else {
                if (user != '')
                    val = val + '"User":' + '"' + user + '",';
                if (request_number != '')
                    val = val + '"RequestNo":' + '"' + request_number + '",';
                if (from_date != '') {
                    from_date = from_date.split('/');
                    val = val + '"FromDay":' + parseInt(from_date[0]) + ',"FromMonth": ' + parseInt(from_date[1]) + ',"FromYear":' + parseInt(from_date[2]) + ',';
                }
                if (to_date != '') {
                    to_date = to_date.split('/');
                    val = val + '"ToDay":' + parseInt(to_date[0]) + ',"ToMonth": ' + parseInt(to_date[1]) + ',"ToYear":' + parseInt(to_date[2]) + ',';
                }
                val = val.substring(0, val.length - 1) + "}";

                //alert(val); exit;

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetXMLDownloadInfo", "MISLicense", new { area = "Report" })',
                    data: val,
                    contentType: "application/json; charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $('#xmlDownload').html(data);
                        setDefaultButton();
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    }
                });
            }
        }

        function clear_fun() {

            $('[name="request_number"]').val("");
            $('[name="user"]').val("");
            $('[name="from_date"]').val("");
            $('[name="to_date"]').val("");

            $('#xmlDownload').html("");

        }
    </script>
}

