@model List<GroupWiseUser>
    
<div class="card card-primary card-outline">    
    <div class="card-header">
        <h3 class="card-title">
            <i class="far fa-chart-bar"></i>
            Group Wise User Count
        </h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        <div id="bar-chart" style="height: 220px;"></div>
    </div>
</div>

    <script type="text/javascript">
    @{
        string val = "[";
        string Text = "[";

        for(int i = 0; i< Model.Count; i++)
        {
            val += "[" + (i + 1) + "," + Model[i].UserCount + "],";
            Text += "[" + (i + 1) + ",\"" + Model[i].UserTypeName + "\"],";
        }
        val = val.Substring(0, val.Length - 1) + "]";
        Text = Text.Substring(0, Text.Length - 1) + "]";
    }

    var valD = @val;
    var txtD =  "@Text.ToString()";
    txtD = txtD.replace(/&quot;/g, "\"");
    var bar_data = {
        data: valD,
        bars: { show: true }
    }
    txtD = JSON.parse(txtD);

    $.plot('#bar-chart', [bar_data], {
        grid: {
            borderWidth: 1,
            borderColor: '#f3f3f3',
            tickColor: '#f3f3f3'
        },
        series: {
            bars: {
                show: true, barWidth: 0.5, align: 'center',
            },
        },
        colors: ['#abc123'],
        xaxis: {
            ticks: txtD
        }
    })
    </script>