
@{
    ViewBag.Title = "Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/js/password.js"></script>
<script src="~/js/pswchecking.js"></script>*@
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 text-center">
                <h1>Password Change</h1>
            </div>
            
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Profile")">Profile</a></li>
                    <li class="breadcrumb-item active">Password Change</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card card-danger">
                    <div class="card-header bg-cyan">
                        <h3 class="card-title">Password Change</h3>
                    </div>
                    @using (Html.BeginForm("Password", "Profile", FormMethod.Post, new { autocomplete = "off", onsubmit = "return checking_password();" }))
                    {
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Password">Current Password</label>
                                <input type="password" class="form-control" name="Password" placeholder="Enter Current Password" required>
                            </div>
                            <div class="form-group">
                                <label for="New Password">New Password</label>
                                <input type="password" class="form-control" name="NewPassword" oninput="pswchecker()" id="txtPassword" placeholder="Enter New Password" required>
                                <div id="message"></div>
                                <div class="text-danger" style="font-size:small" id="pswsms">
                                   
                                    <ol>
                                        <li>Minimum of 6 characters in length</li>
                                        <li>Must have one Uppercase</li>
                                        <li>Must have one Lowercase</li>
                                        <li>Must have one Numeric</li>
                                        <li>Must have at least one special characters</li>
                                    </ol>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Confirm Password">Confirm password</label>
                                <input type="password" class="form-control" id="txtConfirmPassword" oninput="checking_password()"  placeholder="Confirm Password" required>
                            </div>
                            <label id="nameErrMsg1"></label>
                        </div>
                        <div class="card-footer">
                            <button type="submit" id ="reset" name="reset" class="btn btn-warning" ><i class="fas fa-save"></i> Change</button>
                            <button type="reset" class="btn btn-default"><i class="fas fa-redo"></i> Reset </button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("form").bind("keypress", function (e) {
            if (e.keyCode == 13) {
                return false;
            }
        });
        $("#reset").prop('disabled', true);
        document.getElementById("txtConfirmPassword").disabled = true;
    });
    function pswchecker() {
        document.getElementById("txtConfirmPassword").disabled = true;
        var psw = document.getElementById("txtPassword").value;
        $("#pswsms").fadeIn();
        $("#message").fadeIn();
        var patt = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{6,})/;
        if (psw.length > 5) {
            if (psw.match(patt)) {
                document.getElementById("txtPassword").classList.remove("is-invalid");
                document.getElementById("message").innerHTML = '<p class="text-success"><strong>Vaild Password</strong></p>';
                setTimeout(function () { $("#message").fadeOut(); }, 3000);
                setTimeout(function () { $("#pswsms").fadeOut(); }, 3000);
                //$("#reset").prop('disabled', false);
                document.getElementById("txtConfirmPassword").disabled = false;
            }
            else {
                $("#pswsms").show();
                $("#txtPassword").addClass('is-invalid');
                document.getElementById("message").innerHTML = '<p class="text-warning"><strong>Invaild Password</strong></p>';
                $("#reset").prop('disabled', true);
                document.getElementById("txtConfirmPassword").disabled = true;
            }
        }
        else {
            $("#pswsms").show();
            $("#txtPassword").addClass('is-invalid');
            document.getElementById("message").innerHTML = '<p class="text-warning"><strong> Password Minimum 6 letter </strong></p>';
            $("#reset").prop('disabled', true);
            document.getElementById("txtConfirmPassword").disabled = true;
        }
    }
    function checking_password() {

        var new_psswd = document.getElementById("txtPassword").value;
        var confirm_psswd = document.getElementById("txtConfirmPassword").value;

        if (new_psswd != confirm_psswd) {
            $("#txtPassword").addClass('is-invalid');
            $("#txtConfirmPassword").addClass('is-invalid');
            document.getElementById("nameErrMsg1").innerHTML = '<small class="text-danger"><strong>Password and Confirm password not matched....</strong></small>';
            $('button[name="reset"]').prop('disabled', true);
        }
        else if (new_psswd === confirm_psswd) {
            //$("#txtPassword").addClass('is-valid');
            //$("#txtConfirmPassword").addClass('is-valid');
            document.getElementById("txtPassword").classList.remove("is-invalid");
            document.getElementById("txtConfirmPassword").classList.remove("is-invalid");

            document.getElementById("nameErrMsg1").innerHTML = ' ';
            $('button[name="reset"]').prop('disabled', false);
        }
    }
</script>