@using LicensingERP.Logic.Enumeration
@using LicensingERP.Logic.BLL.Helper
@{
    Layout = null;
    SessionManagement.RemoveSession<List<MenuGroup>>(HttpContextAccessor.HttpContext.Session, "ReturnMessage");
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Reset Password</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Theme/dist/css/adminlte.min.css">
    <style type="text/css">
        .hidden {
            display: block !important;
        }
    </style>
    <script src="~/js/password.js"></script>
    @*<script src="~/js/pswchecking.js"></script>*@
</head>
<body class="hold-transition login-page">
    @{
        ReturnObject returnObject = TempData.Get<ReturnObject>("ReturnMessage");
    }
    @if (returnObject != null)
    {

        if (returnObject.Status)
        {
            <div class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>&#128522;</h4>
                <p>
                    @Html.Raw(returnObject.Message)
                </p>
            </div>
        }
        else
        {
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <h4>&#128524;</h4>
                <p>
                    @Html.Raw(returnObject.Message)
                </p>
            </div>
        }
    }
    <div class="login-box" style="width:500px">
        <!-- /.login-logo -->
        <div class="card">
            <div class="login-logo">
                <img src="~/Theme/dist/img/LicensingERP_128.png" height="50">
            </div>
            <div class="card-body login-card-body">
                <h4 class="text-center">Reset your Password</h4><hr />
                @*<p class="login-box-msg">To Crate your new password, Provide the following information,and then Click change</p>*@
                @using (Html.BeginForm("ResetPassword", "Profile", FormMethod.Post, new { autocomplete = "off", onsubmit = "return checking_password();" }))
                {
                    <div class="form-group">
                        <input type="password" class="form-control" name="Password" id="txt" placeholder="Enter Current Password" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" oninput="pswchecker()" id="txtPassword" name="NewPassword" placeholder="Enter New Password" required>
                        <div id="message"></div>
                        <div class="text-danger" style="font-size:small" id="pswsms">
                            <ol>
                                <li>Minimum of 6 characters in length</li>
                                <li>Must have one Uppercase</li>
                                <li>Must have one Lowercase</li>
                                <li>Must have one Numeric</li>
                                <li>Must have at least one special characters</li>
                            </ol>
                        </div>
                    </div>
                    <div class="form-group">                       
                        <input type="password" class="form-control" id="txtConfirmPassword" oninput="checking_password()" placeholder="Confirm Password" required>
                        <label id="nameErrMsg1"></label>
                    </div>
                    <hr />
                    <div class="form-group">
                        <label>Password Security Questions<span class="error"></span> </label>
                        <select class="form-control" required name="QuestionEnumNo">
                            <option value=""> --Select--</option>
                            @foreach (ePasswordSecurityQuestions p in Enum.GetValues(typeof(ePasswordSecurityQuestions)))
                            {
                                <option value="@((long)p)">@(EnumHelper<ePasswordSecurityQuestions>.GetDisplayValue(p))</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Put your answer</label>
                        <input type="number" class="form-control" placeholder="Enter Password Security Answer" name="Answer" required>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="reset" class="btn btn-default"><i class="fas fa-redo"></i> Cancel</button>
                        </div>
                        <div class="col-4">
                            <button type="submit" id ="reset" name="reset" class="btn btn-success btn-block pull-right"><i class="fas fa-save"></i> Change</button>
                        </div>
                    </div>
                }
                @*<div class="social-auth-links mt-5">
                        <i class="fa fa-bars"></i>
                        <p class="text-muted">Password should contain 6-250 characters.</p>
                        <p class="text-muted">Use Max of Uppercase/Lowercase letters, Numerals and Symbols.</p>
                        <p class="text-muted">Current password should not be same as last password.</p>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Theme/dist/js/adminlte.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("form").bind("keypress", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
            $("#reset").prop('disabled', true);
            document.getElementById("txtConfirmPassword").disabled = true;
        });
        function pswchecker() {
            
           // $("#txtConfirmPassword").prop('disabled', true)
           // document.getElementById("txtConfirmPassword").disabled = true;
            var psw = document.getElementById("txtPassword").value;
            $("#pswsms").fadeIn();
            $("#message").fadeIn();
            var patt = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@@#\$%\^&\*])(?=.{6,})/;
            if (psw.length > 5) {
                if (psw.match(patt)) {
                    document.getElementById("txtPassword").classList.remove("is-invalid");
                    document.getElementById("message").innerHTML = '<p class="text-success"><strong>Vaild Password</strong></p>';
                    setTimeout(function () { $("#message").fadeOut(); }, 3000);
                    setTimeout(function () { $("#pswsms").fadeOut(); }, 3000);
                    //$("#reset").prop('disabled', false);
                   // $("#txtConfirmPassword").prop('disabled', false);
                    document.getElementById("txtConfirmPassword").disabled = false;
                }
                else {
                    $("#pswsms").show();
                    $("#txtPassword").addClass('is-invalid');
                    document.getElementById("message").innerHTML = '<p class="text-warning"><strong>Invaild Password</strong></p>';
                    $("#reset").prop('disabled', true);
                    $("#txtConfirmPassword").prop('disabled', true);
                   // $("#txtConfirmPassword").attr("disabled", "disabled");
                    document.getElementById("txtConfirmPassword").disabled = true;
                }
            }
            else {
                $("#pswsms").show();
                $("#txtPassword").addClass('is-invalid');
                document.getElementById("message").innerHTML = '<p class="text-warning"><strong> Password Minimum 6 letter </strong></p>';
                $("#reset").prop('disabled', true);
                document.getElementById("txtConfirmPassword").disabled = true;
            }
        }
        function checking_password() {

        var new_psswd = document.getElementById("txtPassword").value;
        var confirm_psswd = document.getElementById("txtConfirmPassword").value;

        if (new_psswd != confirm_psswd) {
            $("#txtPassword").addClass('is-invalid');
            $("#txtConfirmPassword").addClass('is-invalid');
            document.getElementById("nameErrMsg1").innerHTML = '<small class="text-danger"><strong>Password and Confirm password not matched....</strong></small>';
            $('button[name="reset"]').prop('disabled', true);
        }
        else if (new_psswd === confirm_psswd) {
            //$("#txtPassword").addClass('is-valid');
            //$("#txtConfirmPassword").addClass('is-valid');
            document.getElementById("txtPassword").classList.remove("is-invalid");
            document.getElementById("txtConfirmPassword").classList.remove("is-invalid");

            document.getElementById("nameErrMsg1").innerHTML = ' ';
            $('button[name="reset"]').prop('disabled', false);
        }
    }
    </script>
</body>
</html>
