@using LicensingERP.Logic.Model.Class
@using LicensingERP.StateManagement

@{
    Layout = null;
    HttpContextAccessor.HttpContext.RemoveSession<List<MenuGroup>>("ReturnMessage");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Account</title>
    <!--===============================================================================================-->
    <!-- Favicon -->
    <link rel="icon" href="~/images/favicon.ico">
    <!--===============================================================================================-->
    <link href="~/theme/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/theme/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/theme/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/theme/css/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/theme/css/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/css/animsition.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Theme/css/util.css" rel="stylesheet" />
    <link href="~/Theme/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>
    @{
        ReturnObject returnObject = TempData.Get<ReturnObject>("ReturnMessage");
    }

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url('../../images/bg-01.jpg');">
                    <span class="login100-form-title-1">
                        Sign In
                    </span>
                </div>

                @using (Html.BeginForm("Index", "Account", FormMethod.Post, new { autocomplete = "off", @class = "login100-form validate-form" }))
                {
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        <input class="input100" type="text" autofocus name="UserName" placeholder="Enter username">
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        <input class="input100" type="password" name="PasswordText" placeholder="Enter password">
                        <div id="message"></div>
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m p-b-10">
                        <div class="contact100-form-checkbox">
                            <a href="@Url.Action("ForgotPassword","Account")" class="txt1">
                                Forgot Password?
                            </a>
                        </div>
                    </div>
                    <div class="p-b-10">
                        @if (returnObject != null)
                        {

                            if (returnObject.Status)
                            {
                                <span><small class='text-success'><strong>@Html.Raw(returnObject.Message)</strong></small></span>
                            }
                            else
                            {
                                <span><small class='text-danger'><strong>@Html.Raw(returnObject.Message)</strong></small></span>
                            }
                        }

                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>


                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>


